.burger-button {
    display: none;
}

.burger-button:hover {
    opacity: 0.6;
    transition: 0.3s;
  }

@media screen and (max-width: 660px) {
    .burger-button {
        display: block;
        position: absolute;
        background-color: transparent;
        cursor: pointer;
        border: none;
        height: 24px;
        right: 30px;
        bottom: 30px;
    }
}